@charset "UTF-8";
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes funky {
  0% {
    transform: rotate3d(0); }
  100% {
    transform: rotate3d(0, 1, 1, 360deg); } }

@keyframes full-rotation {
  0% {
    transform: rotate3d(0); }
  100% {
    transform: rotate3d(1, 1, 1, 360deg); } }

/*Gracias Alex Bakoushin*/
@keyframes regrbl {
  0% {
    background-color: red; }
  1% {
    background-color: #ff0f00; }
  2% {
    background-color: #ff1f00; }
  3% {
    background-color: #ff2e00; }
  4% {
    background-color: #ff3d00; }
  5% {
    background-color: #ff4d00; }
  6% {
    background-color: #ff5c00; }
  7% {
    background-color: #ff6b00; }
  8% {
    background-color: #ff7a00; }
  9% {
    background-color: #ff8a00; }
  10% {
    background-color: #ff9900; }
  11% {
    background-color: #ffa800; }
  12% {
    background-color: #ffb800; }
  13% {
    background-color: #ffc700; }
  14% {
    background-color: #ffd600; }
  15% {
    background-color: #ffe600; }
  16% {
    background-color: #fff500; }
  17% {
    background-color: #faff00; }
  18% {
    background-color: #ebff00; }
  19% {
    background-color: #dbff00; }
  20% {
    background-color: #ccff00; }
  21% {
    background-color: #bdff00; }
  22% {
    background-color: #adff00; }
  23% {
    background-color: #9eff00; }
  24% {
    background-color: #8fff00; }
  25% {
    background-color: #80ff00; }
  26% {
    background-color: #70ff00; }
  27% {
    background-color: #61ff00; }
  28% {
    background-color: #52ff00; }
  29% {
    background-color: #42ff00; }
  30% {
    background-color: #33ff00; }
  31% {
    background-color: #24ff00; }
  32% {
    background-color: #14ff00; }
  33% {
    background-color: #05ff00; }
  34% {
    background-color: #00ff0a; }
  35% {
    background-color: #00ff1a; }
  36% {
    background-color: #00ff29; }
  37% {
    background-color: #00ff38; }
  38% {
    background-color: #00ff47; }
  39% {
    background-color: #00ff57; }
  40% {
    background-color: #00ff66; }
  41% {
    background-color: #00ff75; }
  42% {
    background-color: #00ff85; }
  43% {
    background-color: #00ff94; }
  44% {
    background-color: #00ffa3; }
  45% {
    background-color: #00ffb3; }
  46% {
    background-color: #00ffc2; }
  47% {
    background-color: #00ffd1; }
  48% {
    background-color: #00ffe0; }
  49% {
    background-color: #00fff0; }
  50% {
    background-color: cyan; }
  51% {
    background-color: #00f0ff; }
  52% {
    background-color: #00e0ff; }
  53% {
    background-color: #00d1ff; }
  54% {
    background-color: #00c2ff; }
  55% {
    background-color: #00b3ff; }
  56% {
    background-color: #00a3ff; }
  57% {
    background-color: #0094ff; }
  58% {
    background-color: #0085ff; }
  59% {
    background-color: #0075ff; }
  60% {
    background-color: #0066ff; }
  61% {
    background-color: #0057ff; }
  62% {
    background-color: #0047ff; }
  63% {
    background-color: #0038ff; }
  64% {
    background-color: #0029ff; }
  65% {
    background-color: #001aff; }
  66% {
    background-color: #000aff; }
  67% {
    background-color: #0500ff; }
  68% {
    background-color: #1400ff; }
  69% {
    background-color: #2400ff; }
  70% {
    background-color: #3300ff; }
  71% {
    background-color: #4200ff; }
  72% {
    background-color: #5200ff; }
  73% {
    background-color: #6100ff; }
  74% {
    background-color: #7000ff; }
  75% {
    background-color: #8000ff; }
  76% {
    background-color: #8f00ff; }
  77% {
    background-color: #9e00ff; }
  78% {
    background-color: #ad00ff; }
  79% {
    background-color: #bd00ff; }
  80% {
    background-color: #cc00ff; }
  81% {
    background-color: #db00ff; }
  82% {
    background-color: #eb00ff; }
  83% {
    background-color: #fa00ff; }
  84% {
    background-color: #ff00f5; }
  85% {
    background-color: #ff00e6; }
  86% {
    background-color: #ff00d6; }
  87% {
    background-color: #ff00c7; }
  88% {
    background-color: #ff00b8; }
  89% {
    background-color: #ff00a8; }
  90% {
    background-color: #ff0099; }
  91% {
    background-color: #ff008a; }
  92% {
    background-color: #ff007a; }
  93% {
    background-color: #ff006b; }
  94% {
    background-color: #ff005c; }
  95% {
    background-color: #ff004d; }
  96% {
    background-color: #ff003d; }
  97% {
    background-color: #ff002e; }
  98% {
    background-color: #ff001f; }
  99% {
    background-color: #ff000f; }
  100% {
    background-color: red; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: lightgrey;
  color: black;
  padding-top: 56px;
  min-height: calc(100vh - 56px); }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 0; }

section {
  padding: 20px 0;
  background-color: white; }

/*Nav Bar*/
.navbar {
  background-color: white;
  padding: 0; }
  .navbar .nav-link {
    color: black;
    text-align: center;
    padding: 16px 0; }
    .navbar .nav-link:hover {
      background-color: black;
      color: white; }
  .navbar .active {
    font-weight: 600; }
    .navbar .active:hover {
      color: white; }
  .navbar .navbar-toggler {
    border: none;
    border-radius: 0;
    padding: 13px 13px;
    transition: all 0.2s; }
    .navbar .navbar-toggler:hover {
      background-color: white;
      filter: invert(1); }
    .navbar .navbar-toggler:focus {
      border: none;
      box-shadow: none; }
  .navbar .navbar-toggler-icon {
    /*Gracias wikipedia*/
    background-image: url("../assets/img/navbar_burger.svg"); }

h1 {
  font-size: 1.2em; }

/*Footer*/
footer {
  background-color: lightgrey;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center; }
  footer address {
    margin: 10px; }
    footer address img {
      filter: invert(50%); }
  footer p {
    margin: 10px; }

@media screen and (min-width: 768px) {
  footer {
    text-align: left;
    flex-direction: row; }
    footer address {
      align-self: flex-start; }
    footer p {
      align-self: flex-end; } }

/*Titulos de secciones*/
.titulo {
  font-size: 2.5em; }

/*Pantalla principal*/
.fotoFrente {
  text-align: center; }
  .fotoFrente img {
    max-width: 100%;
    max-height: calc(100vh - 40px - 56px); }

.info {
  font-size: larger;
  text-align: center; }
  .info h2 {
    font-size: 3em; }

@media screen and (min-width: 768px) {
  .info {
    text-align: left;
    animation: fade-in-right 1s; }
  .fotoFrente {
    text-align: end;
    animation: fade-in-left 1s; } }

@media screen and (max-width: 768px) {
  .contacto-row {
    animation: fade-in 1s; } }

/*Sección "Sobre mí"*/
.sobreMi h2 {
  margin-left: 5%; }

.sobreMi p {
  display: inline-block;
  margin: 25px 5% 0 5%; }
  .sobreMi p img {
    float: right;
    height: 200px;
    margin: 20px;
    animation: funky 1s;
    transition: transform 0.25s; }
    .sobreMi p img:hover {
      transform: scale(1, 0.5); }

@media screen and (min-width: 768px) {
  .sobreMi p img {
    height: 300px; } }

@media screen and (min-width: 1200px) {
  .sobreMi p {
    margin: 25px 20% 0 20%; }
    .sobreMi p img {
      height: 400px; } }

/*Habilidades*/
.idiomas {
  background-color: dodgerblue; }

.lenguajes {
  background-color: crimson; }

.design {
  background-color: blueviolet; }

.habilidades {
  text-align: center;
  color: white; }
  .habilidades .habilidadesCaja {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .habilidades .habilidadesCaja .habilidad {
      width: 90%;
      margin: 10px; }
      .habilidades .habilidadesCaja .habilidad h3 {
        font-size: 1.3em; }
      .habilidades .habilidadesCaja .habilidad p {
        color: black;
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        margin-top: 10px;
        max-height: 8em;
        min-height: 8em;
        overflow: hidden;
        transition: max-height 0.75s;
        box-shadow: -1px 3px 7px #3f3f3f; }
      .habilidades .habilidadesCaja .habilidad:hover p {
        max-height: 16em;
        height: auto; }

@media screen and (min-width: 576px) {
  .habilidades .habilidadesCaja .habilidad {
    width: 45%; } }

@media screen and (min-width: 992px) {
  .habilidades .habilidadesCaja .habilidad {
    width: 30%; } }

/*Proyectos*/
.proyectos {
  background-color: seagreen; }
  .proyectos .titulo {
    color: white;
    text-align: center; }
  .proyectos .descripcion {
    background-color: white;
    padding: 10px;
    text-align: center;
    overflow: hidden; }

@media screen and (min-width: 992px) {
  .proyecto .descripcion {
    aspect-ratio: 16 / 9;
    text-align: left; }
  .proyecto .derecha {
    text-align: right; } }

.proyecto .preview {
  padding: 0; }

.proyecto video {
  display: block;
  width: 100%;
  padding: 0; }

/*Contacto*/
.contact-form {
  background-color: chocolate;
  text-align: center; }
  .contact-form .titulo {
    color: white; }
  .contact-form form {
    background-color: white;
    margin-top: 20px;
    box-shadow: -1px 3px 7px #3f3f3f; }
  .contact-form .enviar {
    padding: 10px; }

@media screen and (min-width: 576px) {
  .contact-form form {
    border-radius: 30px; } }

@media screen and (min-width: 768px) {
  .contact-form form {
    max-width: 60%;
    text-align: left; } }

@media screen and (min-width: 992px) {
  .contact-form form {
    max-width: 40%; } }

/*404*/
.error404 {
  background-color: black;
  color: white;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  animation: regrbl infinite 10s linear; }
  .error404 a {
    color: white; }
  .error404 .errorNum {
    font-size: 40vmin;
    animation: full-rotation infinite 5s linear; }
